*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  display: flex;
  justify-content: center;
  align-items: center;
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

.content {
  display: flex;
  align-items: end;
  column-gap: 30px;
  width: 1140px;
  margin: auto;
}

.search-form {
  display: flex;
  justify-content: space-between;
  align-items: start;
}

.search-form__fieldset-title {
  font-family: 'Fira Sans Condensed';
  font-weight: 400;
  font-size: 18px;
  line-height: normal;
  margin-bottom: 5px;
}

.content__list-container {
  position: relative;
  height: 298px;
  overflow-y: auto;
  margin-top: 26px;
}

.content__details {
  width: 100%;
  height: 100%;
}

.result__video-container {
  position: relative;
  height: 386px;
  width: 711px;
  margin-bottom: 16px;
}

.result__video {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.content__list-item {
  margin-bottom: 30px;
  padding: 0 3px;
}

.content__video-card {
  display: flex;
  align-items: flex-start;
  gap: 15px;
}

.content__video-card-thumbnail {
  width: 194px;
  height: 103px;
  object-fit: cover;
  object-position: center;
}

.content__video-card-description-container {
  flex-grow: 1;
}

.title {
  font-family: 'Oswald';
  font-weight: 700;
  font-size: 75px;
  line-height: 94%;
  text-transform: uppercase;
}

.content__accent {
  color: #545050;
}

.content__card-link {
  display: block;
  text-decoration: none;
  color: #fff;
}

.content__video-card-title {
  font-family: 'Oswald';
  font-weight: 700;
  font-size: 30px;
  text-transform: uppercase;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.content__video-card-description {
  line-height: 16.2px;
  font-family: 'Fira Sans Condensed';
  font-weight: 400;
  font-size: 18px;
}

fieldset {
  border: 0;
}

.search-form__textfield {
  border: 1px solid #fff;
  border-left: none;
  border-right: none;
  min-width: 225px;
  padding: 2.5px 14px 2.5px 0;
  color: rbga(255, 255, 255, 0.7);
  font-family: Fira Sans Condensed;
  font-weight: 400;
  font-size: 18px;
  line-height: normal;
  background: transparent;
  appearance: none;
}

.search-form__label {
  display: flex;
  align-items: center;
  width: fit-content;
  cursor: pointer;
}

.search-form__checkbox-list {
  display: flex;
  align-items: center;
  column-gap: 15px;
}

.search-form__textfield:active {
  outline: 1px solid #fff;
  outline-offset: -1px;
}

.search-form__label:hover .search-form__label-text {
  text-decoration: underline;
}

.search-form__label:has(:focus-visible) {
  outline: 1px solid #fff;
  outline-offset: 1px;
}

.search-form__pseudo-checkbox {
  position: relative;
  display: flex;
  flex-shrink: 0;
  width: 19px;
  height: 19px;
  margin-right: 5px;
  border: 1px solid #fff;
}

.search-form__pseudo-checkbox::after {
  content: "";
  display: none;
  width: 15px;
  height: 15px;
  margin: auto;
  background-color: #fff;
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox::after {
  display: block;
}

.button {
  background: transparent;
  color: #fff;
  border: 1px solid #fff;
  padding: 6px 73.5px;
  font-family: 'Fira Sans Condensed';
  font-weight: 700;
  font-size: 18px;
  cursor: pointer;
}

.search-form__submit-button {
  align-self: end;
}

.button:hover {
  text-decoration: underline;
}

.button:focus {
  outline: 0;
}

.button:focus-visible {
  outline: 1px solid #fff;
  outline-offset: 1px;
}

.button:active {
  background: #545050;
}

.more-button {
  width: 100%;
}

.content__card-link:hover {
  text-decoration: underline;
}

.content__card-link:focus {
  outline: 0;
}

.content__card-link:focus-visible {
  outline: 1px solid #fff;
  outline-offset: 1px;
}

.content__card-link:active {
  background: #545050;
}

.content__card-link_current {
  background: #545050;
}

/* Кастомный скроллбар */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(217 217 217 / 10%);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #D9D9D9;
}
